body {
  background-color: #FFFFE0; /* warna kuning cerah */
font-family: Arial, sans-ferif; /* jenis huruf yang bersih dan mudah */
color: #191970; /* warna teks utama (merah cerah) */
}

.kartu-profil {
  width: 300px;
  margin: 50px auto; /* jarak atas/bawah, auto menengah kiri/kanan */
  padding: 20px;
  background-color: cream;
  border-radius: 15px; /* membuat sudut menjadi melengkung */
box-shadow; 0 4px 8px rgba(0,0,0,0.1)  /* efek bayangan */
  text align: center; /* menengah semua text didalam kartu */
}


.kartu-profil img {
  width: 150px;
  border-radius: 50%; 
}
